{% extends "page.html" %}

{% block breadcrumb_content %}
  <li class="active">{{ 'Migration scripts' }}</li>
{% endblock %}

{% block primary_content_inner %}


  <form method="POST" id="s2_import_taxonomy_tag_dictionaries">
    <button
      type="submit"
      name="import_taxonomy_tag_dictionaries"
      value="import_taxonomy_tag_dictionaries"
      class="btn btn-info">
      {% trans %}Import taxonomy tag dictionaries{% endtrans %}
    </button>
  </form>

  <form method="POST" id="s3_import_taxonomy_term_translations">
    <button
      type="submit"
      name="import_taxonomy_term_translations"
      value="import_taxonomy_term_translations"
      class="btn btn-info">
      {% trans %}Import taxonomy term translations{% endtrans %}
    </button>
  </form>


{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-info-sign"></i>
      {{ _('Migration scripts') }}
    </h2>
    <div class="module-content">
      {% trans %}
        <p>Admin stuff</p>
      {% endtrans %}
    </div>
  </div>
{% endblock %}
