{% extends "page.html" %}

{% block breadcrumb_content %}
  <li class="active">{{ 'Migration scripts' }}</li>
{% endblock %}

{% block primary_content_inner %}

  <form method="POST" id="s1_insert_initial_odm_data">
    <button
      type="submit"
      name="insert_initial_odm_data"
      value="insert_initial_odm_data"
      class="btn btn-info">
      {% trans %}Insert initial data{% endtrans %}
    </button>
  </form>

  <form method="POST" id="s2_import_taxonomy_tag_dictionaries">
    <button
      type="submit"
      name="import_taxonomy_tag_dictionaries"
      value="import_taxonomy_tag_dictionaries"
      class="btn btn-info">
      {% trans %}Import taxonomy tag dictionaries{% endtrans %}
    </button>
  </form>

  <form method="POST" id="s3_import_taxonomy_term_translations">
    <button
      type="submit"
      name="import_taxonomy_term_translations"
      value="import_taxonomy_term_translations"
      class="btn btn-info">
      {% trans %}Import taxonomy term translations{% endtrans %}
    </button>
  </form>

  <form method="POST" id="s4_import_odc_laws">
    <button
      type="submit"
      name="import_odc_laws"
      value="import_odc_laws"
      class="btn btn-info">
      {% trans %}Import odc laws{% endtrans %}
    </button>
  </form>

  <form method="POST" id="s10_migrate_to_arrays">
    <button
      type="submit"
      name="migrate_to_arrays"
      value="migrate_to_arrays"
      class="btn btn-info">
      {% trans %}Migrate to arrays{% endtrans %}
    </button>
  </form>

  <form method="POST" id="s5_delete_all_laws">
    <button
      type="submit"
      name="delete_all_laws"
      value="delete_all_laws"
      class="btn btn-danger">
      {% trans %}DANGER! Delete all laws{% endtrans %}
    </button>
  </form>

{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-info-sign"></i>
      {{ _('Migration scripts') }}
    </h2>
    <div class="module-content">
      {% trans %}
        <p>Admin stuff</p>
      {% endtrans %}
    </div>
  </div>
{% endblock %}
